<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/goBack.css">
    <title>Bug Tracker | Error</title>
</head>
<body>

    <div>
        <h1>Please fill out all fields</h1>
        <a href="/projectsPage">Return</a>
    </div>
    
</body>
</html>